@font-face{
  font-family: font1;
  src: url("Fonts/quicksand/Quicksand_Bold_Oblique.otf");
}
body{
  margin: 25px;
  font-family: font1;
}
a{
  background-color: #FFA69E;
}
#list{
  display: inline-block;
}
#form{
  display: inline-block;
}
.b1{
  margin-left: 20px;
}
#form-groups{
  margin-top: 50px;
  margin: 20px 0 20px 0;
}
.custom{
  border-radius: 10px;
  border: 1px solid rgb(214, 40, 57);
  
}
.custom-a{
  background-color: rgb(214, 40, 57,0.9 );
  color: rgb(204, 230, 244 );
}
.custom-badge{
  background-color: rgb(23, 86, 118);
  color: rgb(204, 230, 244);
  text-align: center;
}
