*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
  width: 100%;
  height: 100%;
  background-image: url(PICS/h2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#navbar{
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 99;
}
#sidenav{
  width: 0px;
  height: 100vh;
  background-color: rgb(51, 51, 51,0.5);
  position: absolute;
  margin: 0px;
  padding-top: 100px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  clip-path: circle(70% at 0% 0%);
}
#sidenav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  display: block;
  margin: 20px 30px;
}
#sidenav i:hover,#sidenav a:hover{
  color: rgb(51, 51, 51);
}
.icon{
  position: absolute;
  bottom: 10%;
  left: 3%;
  display: inline;
}
#particles-js{
  position: absolute;
  height: 100%;
  width: 100%;  
}