@font-face{
  font-family: font1;
  src: url('../Fonts/Raleway-Regular.ttf');
}
*,#nav{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: font1;
}
body{
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
  background-image: url('../Logos/h2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
#navbar{
  background-color: rgba(0, 51, 51,0.6);
}
.color{
  color: rgb(255,255,255);
}


