body{
  background-image: url(../../Database&Normalization/PicsSelected/background2.1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
/*div{
  border: 1px dashed black;
}*/
#navbar{
  background-color: rgb(44, 168, 217);
}
.color{
  color: rgb(255,255,255);
}

