@font-face {
  font-family: font1;
  src: url("../Fonts/quicksand/Quicksand_Bold_Oblique.otf");
}
@font-face {
  font-family: font2;
  src: url("../Fonts/Langar-Regular.ttf");
}
body {
  margin: 25px;
  font-family: font1;
  background-image: url("../Pics/background2.1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#list {
  display: inline-block;
}
#form {
  display: inline-block;
}
#form-groups {
  margin-top: 50px;
  margin: 20px 0 20px 0;
}
.custom-input {
  margin: 35px 0 35px 0;
  border-radius: 10px;
  border: 2px solid rgb(75, 163, 195);
  box-shadow: 5px 5px rgb(75, 163, 195);
}
.custom-input-a {
  background-color: rgb(214, 40, 57);
  color: rgb(204, 230, 244);
}
.custom-input-a:hover{
  background-color: rgb(204, 230, 244);
  color: rgb(214, 40, 57);
  font-family: font2;
  font-size: medium;
}
.custom-input-badge {
  background-color: rgb(23, 86, 118);
  color: rgb(204, 230, 244);
  text-align: center;
  font-size: large;
}
.custom-input-badge:hover{
  background-color: rgb(204, 230, 244);
  color: rgb(23, 86, 118);
  text-align: center;
  font-size: large;
  font-family: font2;
}
#sid::placeholder,
#sname::placeholder,
#scontact::placeholder,
#scnic::placeholder,
#saddress::placeholder,
#ssalary::placeholder,
#sdesignation::placeholder,
#sshift::placeholder {
  color: rgb(186, 50, 79);
}
#sid,
#sname,
#scontact,
#scnic,
#saddress,
#ssalary,
#sdesignation,
#sshift{
  color: rgb(77, 167, 200);
}
#myspan{
  font-family: font2;
  color: rgb(75, 163, 195) ; 
  margin: 30px; 
  font-size: large;
}
#header {
  text-align: center;
  color: rgb(75, 163, 195,0.8);
}
#header:hover{
  color: rgb(214, 40, 57,0.8);
  text-align: center;
}
#submit {
  width: 100px;
  height: 50px;
  margin-top: 80px;
  font-family: font2;
  font-weight: bold;
  font-size: larger;
  background-color: rgb(186, 50, 79);
  color: rgb(204, 230, 244);
}
.navbar{
  color: rgb(186, 50, 79);
  font-size: large;
  font-style: italic;
  background-color: rgb(204, 230, 244,0.6);
  margin: 5px;
  border-radius: 10px;
  font-family: font2;
}
#navbar{
  text-align: center;
  margin-bottom: 25px;
}
.navbar:link{
  background-color: rgb(186, 50, 79);
  color: rgb(204, 230, 244,0.6);
  text-decoration: none;
}
.navbar:visited{
  background-color: rgb(23, 86, 118);
  color: rgb(23, 86, 118);
  text-decoration: none;
}
.navbar:hover , .navbar:active{
  background-color: rgb(23, 86, 118);
  color: rgb(204, 230, 244);
  text-decoration: none;
  font-family: font1;
}
#submit:hover{
  width: 100px;
  height: 50px;
  margin-top: 80px;
  font-family: font2;
  font-weight: bold;
  font-size: larger;
  background-color: rgb(204, 230, 244);
  color: rgb(186, 50, 79); 
}